<div class="caja-menu-principal">
    <div class="row">
        <!-- Columbas -->
        <div class="col-sm-1"></div>
        <!-- Logo-->
        <div class="col-sm-1">
            <nav class="imagen-logo">
                <img src="/assets/imagenes/LOGOLabios.jpg" alt="No se encontro la imagen">
            </nav>
        </div>

        <!-- espacio en blaco -->
        <div class=" col-sm-1"></div>
        <!-- espacio para el titulo -->
        <div class=" menu-titulo col-sm-5">
            <h1 class="menu-titulo">Murder Sex</h1>
        </div>
        <!-- espacio en blanco-->
        <div class="col-sm-1"></div>
        <!-- espacio para el menu-->
        <div class="col-sm-2">
            <div class="btn-group">
                <div class="btn-group">
                  <button type="button" class="btn text-dark  dropdown-toggle" data-bs-toggle="dropdown">
                    <label>Menu
                    </label>
                </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/index.html">Inicio</a>
                    <a class="dropdown-item" href="/templates/productos.html">Productos</a>
                    <a class="dropdown-item" href="/templates/servicios.html">Servicios</a>
                    <a class="dropdown-item" href="#">Contáctenos</a>
                  </div>
                </div>
              </div>
             </div>
        <!-- espacio en blanco-->
        <div class="col-sm-1"></div>
    </div>
</div>